<a href="https://colab.research.google.com/github/maryantonopoulou/datastories_for_emme/blob/main/exercise4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Άσκηση 1

Γράψτε ένα προγραμματάκι που θα αθροίζει όλους τους περιττούς αριθμούς από το 1 έως και το 100 και θα τυπώνει το τελικό άθροισμα.

Hints & tips:

- περιττοί είναι οι αριθμοί που το υπόλοιπο της διαίρεσής τους με το 2 ΔΕΝ είναι 0 (x % 2 != 0)
- μπορούμε αρχικά να ορίσουμε ότι το άθροισμα των περιττών αριθμών είναι 0 (sum = 0)
- στη συνέχεια μπορούμε να φτιάξουμε μια λούπα που θα κάνει τα εξής:
  - για κάθε αριθμό από το 1 ως και το 100
  - αν το υπόλοιπο της διαίρεσης του αριθμού με το 2 δεν είναι 0
  - το άθροισμα θα αυξάνεται κατά τον αριθμό

In [3]:
sum=0
for i in range(1,101):
  if i%2!=0 :
    sum=sum+i
print(sum)

print(sum)

2500
2500



---

### Άσκηση 2

Τροποποιήστε το παραπάνω πρόγραμμα έτσι ώστε, εκτός από το άθροισμα των περιττών, να υπολογίζει και να τυπώνει ΚΑΙ:
- το πλήθος των περιττών αριθμών
- το άθροισμα των ζυγών αριθμών στο ίδιο εύρος
- το πλήθος των ζυγών αριθμών

In [5]:
sum=0
count=0
s_even=0
c_even=0
for i in range(1,101):
  if i%2!=0 :
    sum=sum+i
    count=count+1
    print(sum)
    print(count)
  else:
    s_even=s_even+i
    c_even=c_even+1
    print(s_even)
    print(c_even)

1
1
2
1
4
2
6
2
9
3
12
3
16
4
20
4
25
5
30
5
36
6
42
6
49
7
56
7
64
8
72
8
81
9
90
9
100
10
110
10
121
11
132
11
144
12
156
12
169
13
182
13
196
14
210
14
225
15
240
15
256
16
272
16
289
17
306
17
324
18
342
18
361
19
380
19
400
20
420
20
441
21
462
21
484
22
506
22
529
23
552
23
576
24
600
24
625
25
650
25
676
26
702
26
729
27
756
27
784
28
812
28
841
29
870
29
900
30
930
30
961
31
992
31
1024
32
1056
32
1089
33
1122
33
1156
34
1190
34
1225
35
1260
35
1296
36
1332
36
1369
37
1406
37
1444
38
1482
38
1521
39
1560
39
1600
40
1640
40
1681
41
1722
41
1764
42
1806
42
1849
43
1892
43
1936
44
1980
44
2025
45
2070
45
2116
46
2162
46
2209
47
2256
47
2304
48
2352
48
2401
49
2450
49
2500
50
2550
50



---

### Άσκηση 3

Αντιγράψτε εδώ τον κώδικα που γράψατε για την 1η Άσκηση του notebook "exercise3.ipynb".

Θα χρειαστούμε τη λίστα με τα λεξικά των άρθρων.

Χρησιμοποιώντας τη βιβλιοθήκη Pandas, φτιάξτε ένα dataframe με τα δεδομένα της λίστας με τα λεξικά των άρθρων.
Στη συνέχεια, εμφανίστε το dataframe στην οθόνη.

**Hints & tips**:
- για να χρησιμοποιήσετε τη βιβλιοθήκη pandas πρέπει πρώτα να την εισάγετε: import pandas as pd
- η δημιουργία ενός dataframe από μια λίστα με λεξικά, γίνεται με την εξής σύνταξη: df = pd.DataFrame(<όνομα λίστας με λεξικά>)

In [7]:
articles=[]
article1={
    "Τίτλος":"Θα εξαφανιστεί τελικά η Ευρωπαϊκή Ένωση;",
          "Ημερομηνία":"2025-03-13",
          "Κατηγορία":"Πολιτική",
          "url":"https://itsestella.com/tha-exafanistei-telika-h-eurwpaiki-enwsi/"}
article2={
    "Τίτλος":"Δίκη για το Μάτι: Σε φορτισμένο κλίμα η αγόρευση της εισαγγελέως",
          "Ημερομηνία":"2025-03-12",
          "Κατηγορία":"Επικαιρότητα",
          "url":"https://itsestella.com/diki-gia-to-mati-se-fortismeno-klima-i-agoreusi-tis-eisaggelews/"}
articles.append(article1)
articles=[]
article1={
    "Τίτλος":"Θα εξαφανιστεί τελικά η Ευρωπαϊκή Ένωση;",
          "Ημερομηνία":"2025-03-13",
          "Κατηγορία":"Πολιτική",
          "url":"https://itsestella.com/tha-exafanistei-telika-h-eurwpaiki-enwsi/"}
article2={
    "Τίτλος":"Δίκη για το Μάτι: Σε φορτισμένο κλίμα η αγόρευση της εισαγγελέως",
          "Ημερομηνία":"2025-03-12",
          "Κατηγορία":"Επικαιρότητα",
          "url":"https://itsestella.com/diki-gia-to-mati-se-fortismeno-klima-i-agoreusi-tis-eisaggelews/"}
articles.append(article1)
articles.append(article2)
print(articles[1]["Τίτλος"])
article1["Site"]="itsestella.com"
article2["Site"]="itsestella.com"
print(len(articles))

Δίκη για το Μάτι: Σε φορτισμένο κλίμα η αγόρευση της εισαγγελέως
2

In [9]:
import pandas as pd
df=pd.DataFrame(articles)
print(df)

                                              Τίτλος  Ημερομηνία  \
0           Θα εξαφανιστεί τελικά η Ευρωπαϊκή Ένωση;  2025-03-13
1  Δίκη για το Μάτι: Σε φορτισμένο κλίμα η αγόρευ...  2025-03-12

      Κατηγορία                                                url  \
0      Πολιτική  https://itsestella.com/tha-exafanistei-telika-...
1  Επικαιρότητα  https://itsestella.com/diki-gia-to-mati-se-for...

             Site
0  itsestella.com
1  itsestella.com



---

### Άσκηση 4 (intro)

Στο site "ourworldindata.org" παρέχονται πάρα πολλά δεδομένα και γραφήματα για διάφορα topics για όλες τις χώρες του κόσμου.

Για παράδειγμα, στη σελίδα https://ourworldindata.org/explorers/covid?Metric=Excess+mortality+%28estimates%29&Interval=Cumulative&Relative+to+population=false&country=USA~BRA~JPN~DEU, παρέχονται δεδομένα και γραφήματα σχετικά με την Covid-19.

Αν επισκεφθείτε την παραπάνω σελίδα, επάνω αριστερά, υπάρχει ένας υπερσύνδεσμος με το κείμενο "Download this dataset". Εάν τον πατήσετε θα οδηγηθείτε στη σελίδα με τα datasets για τον covid.

Πιο κάτω, σ' αυτή τη σελίδα, υπάρχει η ενότητα "Download data", με πολλά κουμπάκια download.

Όταν πατήσετε κάποιο download μεταφέρεστε στη σελίδα του raw αρχείου csv με τα δεδομένα.

Μπορούμε να φέρουμε αυτά τα δεδομένα σε ένα dataframe στην Python, με την παρακάτω εντολή:

In [ ]:
covid_df = pd.read_csv("https://catalog.ourworldindata.org/garden/covid/latest/cases_deaths/cases_deaths.csv")
covid_df

,country,date,new_cases,total_cases,new_deaths,total_deaths,weekly_cases,weekly_deaths,weekly_pct_growth_cases,weekly_pct_growth_deaths,...,cfr_100_cases,cfr_short_term,days_since_100_total_cases,days_since_5_total_deaths,days_since_1_total_cases_per_million,days_since_0_1_total_deaths_per_million,days_since_100_total_cases_and_5m_pop,total_deaths_last12m,total_deaths_per_100k_last12m,total_deaths_per_million_last12m
0,Afghanistan,2020-01-04,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,-86.0,-91.0,-81.0,-91.0,-86.0,NaN,NaN,NaN
1,Afghanistan,2020-01-05,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,-85.0,-90.0,-80.0,-90.0,-85.0,NaN,NaN,NaN
2,Afghanistan,2020-01-06,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,-84.0,-89.0,-79.0,-89.0,-84.0,NaN,NaN,NaN
3,Afghanistan,2020-01-07,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,-83.0,-88.0,-78.0,-88.0,-83.0,NaN,NaN,NaN
4,Afghanistan,2020-01-08,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,-82.0,-87.0,-77.0,-87.0,-82.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471245,Zimbabwe,2025-02-26,0.0,266410,0.0,5740,0.0,0.0,NaN,NaN,...,2.154574,NaN,1737.0,1819.0,1779.0,1819.0,1737.0,0.0,0.0,0.0
471246,Zimbabwe,2025-02-27,0.0,266410,0.0,5740,0.0,0.0,NaN,NaN,...,2.154574,NaN,1738.0,1820.0,1780.0,1820.0,1738.0,0.0,0.0,0.0
471247,Zimbabwe,2025-02-28,0.0,266410,0.0,5740,0.0,0.0,NaN,NaN,...,2.154574,NaN,1739.0,1821.0,1781.0,1821.0,1739.0,0.0,0.0,0.0
471248,Zimbabwe,2025-03-01,0.0,266410,0.0,5740,0.0,0.0,NaN,NaN,...,2.154574,NaN,1740.0,1822.0,1782.0,1822.0,1740.0,0.0,0.0,0.0
471249,Zimbabwe,2025-03-02,0.0,266410,0.0,5740,0.0,0.0,NaN,NaN,...,2.154574,NaN,1741.0,1823.0,1783.0,1823.0,1741.0,0.0,0.0,0.0



---

### Άσκηση 4 (actual part)

Βρείτε από το ourworldindata.org ένα dataset που σας ενδιαφέρει και ανοίξτε το σαν dataframe.

In [16]:

import pandas as pd
import requests


women_in_parliament_df = pd.read_csv("https://ourworldindata.org/grapher/share-of-women-in-parliament.csv?v=1&csvType=full&useColumnShortNames=true", storage_options = {'User-Agent': 'Our World In Data data fetch/1.0'})
print(women_in_parliament_df)

            Entity Code  Year  \
0      Afghanistan  AFG  1923
1      Afghanistan  AFG  1924
2      Afghanistan  AFG  1925
3      Afghanistan  AFG  1926
4      Afghanistan  AFG  1927
...            ...  ...   ...
16289     Zimbabwe  ZWE  2020
16290     Zimbabwe  ZWE  2021
16291     Zimbabwe  ZWE  2022
16292     Zimbabwe  ZWE  2023
16293     Zimbabwe  ZWE  2024

       wom_parl_vdem__estimate_best__aggregate_method_average
0                                                   0.00
1                                                   0.00
2                                                   0.00
3                                                   0.00
4                                                   0.00
...                                                  ...
16289                                              31.85
16290                                              31.85
16291                                              30.60
16292                                              30.68
16293                                              28.10

[16294 rows x 4 columns]